  /* Mobile View */
  @media (max-width: 600px) {
    .calculator {
        width: 90%;
        margin: 0px;
        padding: 15px;
    }

    #display {
        font-size: 20px;
        height: 50px;
    }

    .buttons {
        grid-template-columns: repeat(4, 1fr);
    }

    .btn {
        padding: 15px;
        font-size: 18px;
    }

    /* Hide specific buttons in mobile view */
    .hide-mobile {
        display: none;
    }

    .btn-equal {
        grid-column: span 4; /* Makes the "=" button span across all 4 columns */
    }
}

/* Large View */
@media (min-width: 601px) {
    .calculator {
        width: 800px;
    }

    #display {
        font-size: 28px;
        height: 70px;
    }

    .buttons {
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: auto auto; /* Two rows */
    }

    .btn {
        padding: 20px;
        font-size: 22px;
    }

     /* Numbers in the top row */
     .numbers {
        grid-row: 1; /* Put number buttons in the first row */
    }

     /* Operators in the bottom row */
     .operators {
        grid-row: 2; /* Put operator buttons in the second row */
    }

    /* Show specific buttons in large view */
    .show-large {
        display: block;
    }
}