* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

header {
	background-color: royalblue;
	display: flex;
	grid-gap: 1rem;
    padding: 10px 20px;
	border: 1px solid rgba(0, 0, 0, 0.1);
	box-shadow: 0 0 30px #333;
    justify-content: space-between; /* Espace entre le titre et le hamburger */
}

body {
	font-family: "Sansita", sans-serif;
}

header,
main {
	margin: 0 auto;
    padding: 10px;
    text-align: center;
}

.temple-cards-container{
    text-align: center;
    display: flex;
    
}

nav {
	background-color: #36454f;
  }

nav ul {
	list-style: none;
	flex-direction: column;
    
}

nav a {
	color: #fff;
	text-align: center;
	padding: 0.1rem;
	text-decoration: none;
	font-size: larger;
}

nav a:hover {
	text-decoration: underline;
	background-color: #eee;
	color: #000;
}


main{
    margin: 0 auto;
    width: 400px;
    display: flex;
   
}

.temple-card{
    background: #00000016;
    animation: fade 5s;
    padding: 50px;
    margin: 20px;
    
}
/* Grid container with 2 columns */
#temple-cards-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Creates 2 equal columns */
    gap: 1px; /* Space between the grid items */
    margin: 20px;
    justify-content: center;
    width: 60%;
    
  }
img {
	grid-gap: 1rem;
    padding: 10px 20px;
	border: 1px solid rgba(0, 0, 0, 0.1);
	box-shadow: 0 0 30px #333;
    
}


@keyframes fade {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

footer, .handler {
    background-color: royalblue;
    color: black;
    text-align: center;
    padding: 10px;
}

#hamburger {
    font-size: 30px;
    cursor: pointer;
    display: block;
    padding: 10px;
    background-color: black;
    color: white;
    border: none;
    text-align: right;
    border-radius: 100%;
  }
  
  .filter-menu {
    display: none; /* Hidden by default */
    position: absolute;
    top: 50px;
    right: 20px;
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 100;
  }
  
  .filter-menu.show {
    display: block; /* Show when the class is toggled */
  }
  
  .filter-menu button {
    display: block;
    width: 100%;
    padding: 10px;
    font-size: 1rem;
    cursor: pointer;
    background-color: black;
    color: white;
    border: none;
    border-radius: 5px;
    margin-bottom: 10px;
  }
  
  .filter-menu button:hover {
    background-color: #005f73;
  }
  
 
  